# SPDX-FileCopyrightText: 2019-present Open Networking Foundation <info@opennetworking.org>
#
# SPDX-License-Identifier: Apache-2.0

build/_output/onos-mho
build/build-tools

# Jenkins stuff
*report*.xml
*coverage*.xml
*-output.out
.idea/
